table th{
padding:25px;
}
table tr{
    height:50px;
    
}
form div{
    display: flex;
    justify-content: center;
}
table select{
    width:58%;
}
table{
    align-self: center;
    /* width:50%; */
}
